# Database Configuration
DB_URL=mongodb+srv://username:password@cluster.mongodb.net/database_name
DB_URL_TEST=mongodb+srv://username:password@cluster.mongodb.net/test_database

# Server Configuration
PORT=3000

# Environment
NODE_ENV=development

# Debug Mode
DEBUG=true